{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block title %}Der Verblonshen Ausstellungstitelgenerator{% endblock %}

{% block content %}
<a href="https://github.com/xsteadfastx/ausstellungstitel"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
<div class="container">
	<h1>Ausstellungstitelvorschlag von <a href="http://verblonshen.org">Verblonshen</a>:</h1>
  <p>{{ ausstellungstitel[0] }} {% if two_or_three %}{{ ausstellungstitel[1] }} {% endif %}{{ ausstellungstitel[2] }}</p>
</div>
{% endblock %}
